<form [formGroup]="userForm" (ngSubmit)="doSubmit()" class="w-100">
  <div *ngFor="let control of formControls" class="form-field text-start">
    <div class="form-group">
      <label for="exampleInputEmail1">{{control.placeholder}}</label>
      <input [type]="control.type" [formControlName]="control.name" class="form-control" id="{{control.name}}" aria-describedby="emailHelp"
        [placeholder]="control.placeholder">
    </div>
  </div>
  <div class="btn-container w-100 d-flex justify-content-end mt-4">
    <button class="btn btn-success" type="submit" [disabled]="userForm.invalid">Submit</button>
  </div>
</form>
