<main class="main">
  <img class="w-25" src="../assets/ceva-png.png" alt="">
  <div class="content d-flex justify-content-between">
    <div class="left-side d-flex justify-content-center flex-column text-center w-50">
      <h1>Hello, {{ title }}</h1>
      <br>
      <div class="form-container d-flex justify-content-center align-self-center w-50">
          <app-user-form class="w-100"></app-user-form>
      </div>
    </div>
    <div class="right-side w-50 d-flex justify-content-start align-items-center">
      <div class="card position-relative w-75">
        <div class="card-body">
          <h5 class="card-title">Exercise</h5>
          <p class="card-text mb-4">Redo this card in css and if possible using bootstrap 4 o 5</p>
          <div class="cta-container w-100 d-flex justify-content-end">
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
              <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
              <label class="btn btn-outline-secondary" for="btnradio1">Got it</label>

              <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
              <label class="btn btn-outline-secondary" for="btnradio2">I don't know</label>
            </div>
            <div class="dropdown dropdown-btn">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Options
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </div>
          </div>
        </div>
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          +123
          <span class="visually-hidden">unread messages</span>
        </span>
      </div>
    </div>
  </div>
</main>

<router-outlet></router-outlet>
